<!DOCTYPE html>
<html>

<head>
    <title>ngOfficeUiFabric | uif-message-banner demo</title>
    <meta charset="utf-8">

    <!-- office ui fabric css -->
    <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
    <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
    <!-- angular library -->
    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <!-- ngofficeuifabric library -->
    <script src="../../../../dist/ngOfficeUiFabric.js"></script>
    <script src="index.js"></script>
</head>

<body ng-app="demoApp" ng-controller="messageBannerDemoController">
    <h1 class="ms-font-su">Message Banner Demo | &lt;uif-message-banner&gt;</h1>
    <em>In order for this demo to work you must first build the library in debug mode.</em>

    <input type="checkbox" ng-model="bannerToggle" />Show/hide
    <!-- first example -->
    <p>To render message banner, use the following markup:
        <br />
        <code>
            &lt;uif-message-banner uif-is-open=&quot;true&quot; uif-message=&quot;Testmessage&quot; uif-action-label=&quot;Testbutton&quot; uif-action=&quot;alert('test')&quot; /&gt;
        </code>
    </p>

    <p>
        <uif-message-banner uif-is-open="bannerToggle" uif-message="Testmessage" uif-action-label="Testbutton" uif-action="customFunction()"
            uif-on-close="customCloseFunction()" />
    </p>
    <h2>uif-content demo</h2>
    <p>
        <uif-message-banner uif-is-open="bannerToggle" uif-action-label="Testbutton" uif-action="myFunction()" uif-on-close="customCloseFunction()">
            <uif-content><b>Some formatted content</b></uif-content>
        </uif-message-banner>
    </p>
</body>

</html>