**/.DS_Store
**/npm-debug.log

# no need to keep stuff pulled remotely
node_modules

# don't keep coverage test reports
reports/

# no js, just typescript
*.js
*.js.map

!src/core/jquery.phantomjs.fix.js

# Visual Studio
/.vs
