.ms-ContextualMenu.is-open {
    position: relative;
}

.dynamic-menu .ms-ContextualMenu.is-open {
  position: absolute;
}

.code {
  margin: -20px 0 -20px -40px;
}

.is-open-add{
    animation: 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) fadeIn, slideRightIn40;
    -webkit-animation: 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) fadeIn, slideRightIn40;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-open-remove{
    animation: 0.167s cubic-bezier(0.1, 0.25, 0.75, 0.9) fadeOut, scaleDown98;
    -webkit-animation: 0.167s cubic-bezier(0.1, 0.25, 0.75, 0.9) fadeOut, scaleDown98;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
    background-color: #fff;
    border: 1px solid #c8c8c8;
    display: block;
    list-style-type: none;
    position: relative;
    width: 180px;
    z-index: 105;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideRightIn40 {
  from {
    transform: translate3d(-40px, 0px, 0px);
  }

  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes scaleDown98 {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(0.98, 0.98, 1);
  }
}