<!doctype html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-List demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
  <!-- angular library -->
  <script src="../../../../node_modules/angular/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUIFabric.js"></script>
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">

  <h1 class="ms-font-su">List Demo | &lt;uif-list&gt;</h1> 
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <p>
    This markup: <br />
    <pre>
&lt;uif-table&gt;
    &lt;uif-table-row&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-header&gt;File name&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Location&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Modified&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Type&lt;/uif-table-header&gt;
    &lt;/uif-table-row&gt;
    &lt;uif-table-row ng-repeat="f in files" uif-selected="{{f.isSelected}<!---->}"&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-cell&gt;{{f.fileName}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.location}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.modified | date}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.type}}&lt;/uif-table-cell&gt;
    &lt;/uif-table-row&gt;
&lt;/uif-table&gt;
    </pre>
  </p>

  <p ng-controller="demoController">
    Renders this:
    <br />
<uif-list uif-item-select-mode="none" uif-selected-items="selectedItems">
  <uif-list-item ng-repeat="message in messages" uif-unread="{{message.isUnread}}" uif-unseen="{{message.isUnseen}}" uif-item="message" uif-type="itemWithIcon">
    <uif-list-item-icon><uif-icon uif-type="save" /></uif-list-item-icon>
    <uif-list-item-primary-text>{{message.sender.name}}</uif-list-item-primary-text>
    <uif-list-item-secondary-text>{{message.title}}</uif-list-item-secondary-text>
    <uif-list-item-tertiary-text>{{message.description}}</uif-list-item-tertiary-text>
    <uif-list-item-meta-text>{{message.time | date : 'shortTime'}}</uif-list-item-meta-text>
    <uif-list-item-selection-target></uif-list-item-selection-target>
    <uif-list-item-actions>
      <uif-list-item-action ng-click="mail(message)">
        <uif-icon uif-type="mail" />
      </uif-list-item-action>
      <uif-list-item-action ng-click="delete(message)">
        <uif-icon uif-type="trash" />
      </uif-list-item-action>
      <uif-list-item-action ng-click="pin(message)">
        <uif-icon uif-type="pinLeft" />
      </uif-list-item-action>
    </uif-list-item-actions>
  </uif-list-item>
</uif-list>
  </p>
</body>

</html>