<uif-persona uif-style="{{vm.style}}" uif-size="{{vm.size}}" uif-presence="{{vm.presence}}" uif-image-url="Persona.Person2.png">
  <uif-persona-initials uif-color="{{vm.color}}">AL</uif-persona-initials>
  <uif-persona-primary-text>Alton Lafferty</uif-persona-primary-text>
  <uif-persona-secondary-text>Interior Designer, Contoso</uif-persona-secondary-text>
  <uif-persona-tertiary-text>Office: 7/1234</uif-persona-tertiary-text>
  <uif-persona-optional-text>Available - Video capable</uif-persona-optional-text>
</uif-persona>