<!-- rendered as button -->
<uif-button uif-type="hero">Lorem Ipsum</uif-button>
<!-- rendered as button with icon -->
<uif-button uif-type="hero">
  <uif-button-description>Lorem Ipsum</uif-button-description>
</uif-button>

<!-- rendered as link -->
<uif-button uif-type="hero" ng-href="http://ngOfficeUiFabric.com">Lorem Ipsum</uif-button>
<!-- rendered as link with icon -->
<uif-button uif-type="hero" ng-href="http://ngOfficeUiFabric.com">
  <uif-button-description>Lorem Ipsum</uif-button-description>
</uif-button>