<!DOCTYPE html>
<html>

<head>
    <title>ngOfficeUiFabric | uif-Icon demo</title>
    <meta charset="utf-8" />

    <!-- office ui fabric css -->
    <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
    <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
    <!-- angular library -->
    <script src="../../../../node_modules/angular/angular.min.js"></script>
    <!-- ngofficeuifabric library -->
    <script src="../../../../dist/ngOfficeUIFabric.js"></script>
    <script src="index.js"></script>
</head>

<body ng-app="demoApp">

    <h1 class="ms-font-su">Searchbox Demo | &lt;uif-searchbox&gt;</h1>
    <em>In order for this demo to work you must first build the library in debug mode.</em>

    <p>
        Use the attributes <code>ng-model</code> to specify the value of the search field.
    </p>
    <p>
        Use the attributes <code>placeholder</code> to specify the placeholder of the search field.
    </p>

    <p>
        This markup: <br />
        <code>
            &lt;uif-searchbox  /&gt;
        </code>
    </p>

    <p>
        Renders this:
        <br />
        <uif-searchbox  />
    </p>

    <div ng-controller="demoController">
        <p>
            Example using a controller
        </p>
        <uif-searchbox ng-model="value" placeholder="placeholder"></uif-searchbox>
        <br/>
        Controller text: <pre>scope.value: {{value}}</pre>
        <br/>
        Searchbox can be disabled with <em>disabled</em> attribute or <em>ng-disabled</em> directive:

        <p>
            This markup: <br /><br />
        <code>
            &lt;label&gt;Click me to toggle: &lt;input type=&quot;checkbox&quot; ng-model=&quot;disabled&quot;&gt;&lt;/label&gt;&lt;br/&gt;<br/>
            &lt;uif-searchbox  ng-disabled=&quot;disabled&quot;/&gt;
        </code>
            <br /><br />
            Renders this:
            <br/>
            <label>Click me to toggle: <input type="checkbox" ng-model="disabled"></label><br/>
            <uif-searchbox  ng-disabled="disabled"/>
        </p>
        <p>
            This markup: <br /><br />
        <code>
            &lt;uif-searchbox disabled=&quot;disabled&quot;/&gt;
        </code>
            <br /><br />
            Renders this:
            <br/>
            <uif-searchbox  disabled="disabled"/>
        </p>
    </div>

</body>

</html>