<!DOCTYPE html>
<html>

<head>
  <title>test</title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="../../../../dist/ngOfficeUIFabric.js"></script>

  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />

  <script lang="text/javascript">
    var app = angular.module('testApp', [
      'fabric.ui.components',
      'fabric.ui.components.icon'
    ]);
  </script>

</head>

<body ng-app="testApp">

  <h1 class="ms-font-su">Icon</h1>
  <uif-icon uif-type="arrowDownLeft" />

</body>

</html>