<!-- rendered as button -->
<uif-button uif-type="command">Lorem Ipsum</uif-button>
<!-- rendered as button with icon -->
<uif-button uif-type="command">
  <uif-icon uif-type="alert"></uif-icon>Lorem Ipsum
</uif-button>

<!-- rendered as link -->
<uif-button uif-type="command" ng-href="http://ngOfficeUiFabric.com">Lorem Ipsum</uif-button>
<!-- rendered as link with icon -->
<uif-button uif-type="command" ng-href="http://ngOfficeUiFabric.com">
  <uif-icon uif-type="alert"></uif-icon>Lorem Ipsum
</uif-button>