<!DOCTYPE html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-persona demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
  <!-- angular library -->
  <script src="../../../../node_modules/angular/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUIFabric.js"></script>
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">

  <h1 class="ms-font-su">Persona Demo | &lt;uif-persona&gt;</h1>
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <p>&nbsp;</p>

  <div ng-controller="personaController">

    <p>
      You can control presence of the user, e.g.:
      <uif-dropdown ng-model="vm.presence">
        <uif-dropdown-option ng-repeat="(key, val) in vm.presenceOptions" value="{{key}}">{{val}}</uif-dropdown-option>
      </uif-dropdown>
    </p>

    <p>
      You can control size of the persona components, e.g.:
      <uif-dropdown ng-model="vm.size">
        <uif-dropdown-option ng-repeat="(key, val) in vm.sizeOptions" value="{{key}}">{{val}}</uif-dropdown-option>
      </uif-dropdown>
    </p>

    <p>
      You can control style of the persona component, e.g.:
      <uif-dropdown ng-model="vm.style">
        <uif-dropdown-option ng-repeat="(key, val) in vm.styleOptions" value="{{key}}">{{val}}</uif-dropdown-option>
      </uif-dropdown>
    </p>

    <p>
      You can control color of the persona initials, e.g.:
      <uif-dropdown ng-model="vm.color">
        <uif-dropdown-option ng-repeat="(key, val) in vm.colorOptions" value="{{key}}">{{val}}</uif-dropdown-option>
      </uif-dropdown>
    </p>

    <p>&nbsp;</p>

    <div>
      <uif-persona uif-style="{{vm.style}}" uif-size="{{vm.size}}" uif-presence="{{vm.presence}}">
        <uif-persona-initials uif-color="{{vm.color}}">AL</uif-persona-initials>
        <uif-persona-primary-text>Alton Lafferty</uif-persona-primary-text>
        <uif-persona-secondary-text>Interior Designer, Contoso</uif-persona-secondary-text>
        <uif-persona-tertiary-text>Office: 7/1234</uif-persona-tertiary-text>
        <uif-persona-optional-text>Available - Video capable</uif-persona-optional-text>
      </uif-persona>
    </div>

    <p>&nbsp;</p>

    <div>
      <uif-persona uif-style="{{vm.style}}" uif-size="{{vm.size}}" uif-presence="{{vm.presence}}" uif-image-url="Persona.Person2.png">
        <uif-persona-initials uif-color="{{vm.color}}">AL</uif-persona-initials>
        <uif-persona-primary-text>Alton Lafferty</uif-persona-primary-text>
        <uif-persona-secondary-text>Interior Designer, Contoso</uif-persona-secondary-text>
        <uif-persona-tertiary-text>Office: 7/1234</uif-persona-tertiary-text>
        <uif-persona-optional-text>Available - Video capable</uif-persona-optional-text>
      </uif-persona>
    </div>

    <p>
      Above sample is rendered by this sample markup:
      <br />
      <pre>
      &lt;uif-persona uif-style=&quot;{{vm.style}}&quot; uif-size=&quot;{{vm.size}}&quot; uif-presence=&quot;{{vm.presence}}&quot; uif-image-url=&quot;Persona.Person2.png&quot;&gt;
        &lt;uif-persona-initials uif-color=&quot;{{vm.color}}&quot;&gt;AL&lt;/uif-persona-initials&gt;
        &lt;uif-persona-primary-text&gt;Alton Lafferty&lt;/uif-persona-primary-text&gt;
        &lt;uif-persona-secondary-text&gt;Interior Designer, Contoso&lt;/uif-persona-secondary-text&gt;
        &lt;uif-persona-tertiary-text&gt;Office: 7/1234&lt;/uif-persona-tertiary-text&gt;
        &lt;uif-persona-optional-text&gt;Available - Video capable&lt;/uif-persona-optional-text&gt;
      &lt;/uif-persona&gt;
      </pre>
    </p>
  </div>
</body>

</html>