<!-- RADIO -->
<uif-choicefield-group ng-model="selectedValue">
    <uif-choicefield-option uif-type="radio" value="value1">Text 1</uif-choicefield-option>
    <uif-choicefield-option uif-type="radio" value="value2">Text 2</uif-choicefield-option>
    <uif-choicefield-option uif-type="radio" value="value3">Text 3</uif-choicefield-option>
    <uif-choicefield-option uif-type="radio" value="value4">Text 4</uif-choicefield-option>
</uif-choicefield-group>


<!-- CHECKBOX -->

<uif-choicefield-option uif-type="checkbox" value="Option1" ng-model="selectedValue" ng-true-value="'TRUEVALUE'" ng-false-value="'FALSEVALUE'">Option 1</uif-choicefield>