<!DOCTYPE html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-Spinner demo</title>
  <meta charset="utf-8">
  <!-- office ui fabric css -->
  <!-- Fabric 1.2.0 min.css -->
  <link rel="stylesheet" href="https://onedrive.live.com/download.aspx?cid=33BC083C1B4F219C&resid=33bc083c1b4f219c%212031&authkey=%21AI9ba8WXJDCkxaI&canary=" />

  <!-- Fabric 1.2.0 components.min.css -->
  <link rel="stylesheet" href="https://onedrive.live.com/download.aspx?cid=33BC083C1B4F219C&resid=33bc083c1b4f219c%212033&authkey=%21AI9ba8WXJDCkxaI&canary=" />
  <!-- angular library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUiFabric.js"></script>
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">
  <h1 class="ms-font-su">Spinner Demo | &lt;uif-spinner&gt;</h1>
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <p>To render spinner, use the following markup:
    <br />
    <code>
      &lt;uif-spinner&gt;&lt;uif-spinner/&gt;
    </code>
  </p>

  <p>
    Example:
    <br />
    <uif-spinner></uif-spinner>
  </p>

  <p>To render large spinner, use the following markup:
    <br />
    <code>
      &lt;uif-spinner uif-spinnersize="large"&gt;&lt;uif-spinner/&gt;
    </code>
  </p>

  <p>
    Example:
    <br />
    <uif-spinner uif-spinnersize="large"></uif-spinner>
  </p>

  <p>You can also add content to the spinner, which will become it's label :
    <br />
    <code>
      &lt;uif-spinner uif-spinnersize="large"&gt;Loading...&lt;uif-spinner/&gt;
    </code>
  </p>

  <p>
    Example:
    <br />
    <uif-spinner uif-spinnersize="large">Loading...</uif-spinner>
  </p>

  <p>You can control visibility of the spinner with <code>ngShow</code> directive
    <br />
    <code>
      &lt;uif-spinner uif-spinnersize="large" ng-show="spinnerVisible"&gt;&lt;uif-spinner/&gt;
    </code>
  </p>

  <p ng-controller="spinnerDemoController">
    Example:
    <br />
    <button type="button" ng-click="vm.spinnerVisible = !vm.spinnerVisible">Toggle visibility</button>
    <br />
    <uif-spinner uif-spinnersize="large" ng-show="vm.spinnerVisible"></uif-spinner>
  </p>

</body>

</html>