<!DOCTYPE html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-button demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
  <!-- angular library -->
  <script src="../../../../node_modules/angular/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUiFabric.js"></script>
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">

  <h1 class="ms-font-su">Button Demo | &lt;uif-button&gt;</h1>
  <em>In order for this demo to work you must first build the library in debug mode.</em>
  
  <p>The button comes in multiple flavors, all demonstrated below. The simplest button is the default, known as <strong>regular</strong> or <strong>action</strong> button:</p>

  <p>
    This markup:<br />
    <code>
      &lt;uif-button&gt;Click Me!&lt;/uif-button&gt;
    </code>
  </p>

  <p>
    Renders this:<br />
    <uif-button>Click Me!</uif-button>
  </p>

  <h3>Button Types</h3>
  <p>
    You can also change the type of the button by specifying one of the following types in the button's <code>uif-type</code> attribute:
    <ul>
      <li><strong>primary</strong>: changes the button to blue (primary color)</li>
      <li><strong>command</strong>: rendering doesn't have the button rectange... looks more like a link &amp; can have an optional icon in the label</li>
      <li><strong>compound</strong>: a bigger button, but it can optionally have a description associated with it</li>
      <li><strong>hero</strong>: a big button without the button rectangle and can include an optional</li>
    </ul>
  </p>

  <h3>Disabled Buttons</h3>
  <p>
    All buttons can be disabled by simply adding a <code>disabled</code> attribute to the button's opening elemnt.
  </p>

  <h3>Buttons as Buttons or Links</h3>
  <p>
    Buttons are rendered as <code>&lt;button&gt;</code> elements by default. However if you include a <code>ng-href=""</code> attribute to the opening button element, the directive will render the button as a <code>&lt;a&gt;</code> element instead.
  </p>

  <hr />

  <h2>Primary Button</h2>
  <p>
    This markup:
    <pre>
&lt;uif-button uif-type="primary"&gt;Click Me!&lt;/uif-button&gt;
    </pre>
    Renders this:<br />
    <uif-button uif-type="primary">Click Me!</uif-button>
  </p>

  <h2>Command Button</h2>
  <p>
    This markup:
    <pre>
&lt;uif-button uif-type="command"&gt;
  &lt;uif-icon uif-type="plus"&gt;&lt;/uif-icon&gt;
  Click Me!
&lt;/uif-button&gt;
    </pre>
    Renders this:<br />
    <uif-button uif-type="command">
      <uif-icon uif-type="plus"></uif-icon>Click Me!
    </uif-button>
  </p>

  <h2>Compound Button</h2>
  <p>
    This markup:
    <pre>
&lt;uif-button uif-type="compound"&gt;
  Click Me!
  &lt;uif-button-description&gt;a button with a description&lt;/uif-button-description&gt;
&lt;/uif-button&gt;
    </pre>
    Renders this:<br />
    <uif-button uif-type="compound">
      Click Me!
      <uif-button-description>a button with a description</uif-button-description>
    </uif-button>
  </p>

  <h2>Hero Button</h2>
  <p>
    This markup:
    <pre>
&lt;uif-button uif-type="hero"&gt;
  &lt;uif-icon uif-type="plus"&gt;&lt;/uif-icon&gt;
  Click Me!
&lt;/uif-button&gt;
    </pre>
    Renders this:<br />
    <uif-button uif-type="hero">
      <uif-icon uif-type="plus"></uif-icon>Click Me!
    </uif-button>
  </p>

</body>

</html>