<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <title>ngOfficeUiFabric | uif-Dropdown demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
  <!-- angular library -->
  <script src="../../../../node_modules/angular/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUiFabric.js"></script>
  <script src="index.js"></script>
</head>

<body>

    <h1 class="ms-font-su">Dropdown Demo | &lt;uif-dropdown&gt;</h1> 
    <em>In order for this demo to work you must first build the library in debug mode.</em>

    <h2>Basic usage</h2>
    <p>
        This markup: <br />
        <pre>
        &lt;uif-dropdown ng-model=&quot;dropdownValue&quot; &gt;
            &lt;uif-dropdown-option value=&quot;value1&quot;&gt;Value 1&lt;/uif-dropdown-option&gt;
            &lt;uif-dropdown-option value=&quot;value2&quot;&gt;Value 2&lt;/uif-dropdown-option&gt;
            &lt;uif-dropdown-option value=&quot;value3&quot;&gt;Value 3&lt;/uif-dropdown-option&gt;
            &lt;uif-dropdown-option value=&quot;value4&quot;&gt;Value 4&lt;/uif-dropdown-option&gt;
        &lt;/uif-dropdown&gt;
        </pre>
    </p>

    <p>
        Renders this:
        <br />
        <uif-dropdown ng-model="dropdownValue">
            <uif-dropdown-option value="value1">Value 1</uif-dropdown-option>
            <uif-dropdown-option value="value2">Value 2</uif-dropdown-option>
            <uif-dropdown-option value="value3">Value 3</uif-dropdown-option>
            <uif-dropdown-option value="value4">Value 4</uif-dropdown-option>
        </uif-dropdown>

    </p>
    <p>
        <span>dropdownValue: {{dropdownValue}}</span>
    </p>
  
  
    <h2>Disabled usage</h2>
    <p>
        This markup: <br />
        <pre>
      
        </pre>
    </p>

    <p>
        Renders this:
        <br />
        <uif-dropdown ng-model="dropdownValue" ng-disabled="disabled">
            <uif-dropdown-option value="value1">Value 1</uif-dropdown-option>
            <uif-dropdown-option value="value2">Value 2</uif-dropdown-option>
            <uif-dropdown-option value="value3">Value 3</uif-dropdown-option>
            <uif-dropdown-option value="value4">Value 4</uif-dropdown-option>
        </uif-dropdown>

    </p>
    <p>
        <input type="checkbox" ng-model="disabled"/>Disabled<br/>
        <span>dropdownValue: {{dropdownValue}}</span>
        
        
    </p>
</body>

</html>