<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <title>ngOfficeUiFabric | uif-Dropdown demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.1.3/fabric.min.css" />
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.1.3/fabric.components.min.css" />
  <!-- angular library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUiFabric.js"></script>
  <script src="index.js"></script>
</head>

<body>

  <h1 class="ms-font-su">Dropdown Demo | &lt;uif-dropdown&gt;</h1> 
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <h2>Basic usage</h2>
  <p>
    This markup: <br />
    <code>
      
    </code>
  </p>

  <p>
    Renders this:
    <br />
    <uif-dropdown ng-model="dropdownValue">
      <uif-option value="value1">Value 1</uif-option>
      <uif-option value="value2">Value 2</uif-option>
      <uif-option value="value3">Value 3</uif-option>
      <uif-option value="value4">Value 4</uif-option>
    <uif-dropdown>

  </p>
  <p>
    <span>dropdownValue: {{dropdownValue}}</span>
  </p>

</body>

</html>