<!doctype html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-Table demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />
  <!-- angular library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUIFabric.js"></script>
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">

  <h1 class="ms-font-su">Table Demo | &lt;uif-table&gt;</h1> 
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <p>
    This markup: <br />
    <pre>
&lt;uif-table&gt;
    &lt;uif-table-row&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-header&gt;File name&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Location&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Modified&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Type&lt;/uif-table-header&gt;
    &lt;/uif-table-row&gt;
    &lt;uif-table-row ng-repeat="f in files" uif-selected="{{f.isSelected}<!---->}"&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-cell&gt;{{f.fileName}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.location}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.modified | date}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.type}}&lt;/uif-table-cell&gt;
    &lt;/uif-table-row&gt;
&lt;/uif-table&gt;
    </pre>
  </p>

  <p ng-controller="demoController">
    Renders this:
    <br />
        <uif-table>
            <uif-table-row>
                <uif-table-row-select></uif-table-row-select>
                <uif-table-header>File name</uif-table-header>
                <uif-table-header>Location</uif-table-header>
                <uif-table-header>Modified</uif-table-header>
                <uif-table-header>Type</uif-table-header>
            </uif-table-row>
            <uif-table-row ng-repeat="f in files" uif-selected="{{f.isSelected}}">
                <uif-table-row-select></uif-table-row-select>
                <uif-table-cell>{{f.fileName}}</uif-table-cell>
                <uif-table-cell>{{f.location}}</uif-table-cell>
                <uif-table-cell>{{f.modified | date}}</uif-table-cell>
                <uif-table-cell>{{f.type}}</uif-table-cell>
            </uif-table-row>
        </uif-table>
  </p>
  
  <h2>Selecting rows</h2>
  <p>
      The <code>&lt;uif-table-row-select&gt;</code> directive renders a control that can be used to select and unselect rows.
      Although the directive is already present, support for selecting rows will be added in the future.
  </p>
  
  <h2>Marking rows as selected</h2>
  <p>
      Rows can be marked as selected using the <code>uif-selected</code> attribute on the <code>&lt;uif-table-row&gt;</code> directive.
  </p>
  
  <h2>Sorting table</h2>
  <p>
    The <code>uif-table</code> directive supports sorting. To enable sorting you need to complete the following steps:
    <ol>
        <li>To each header cell, which you would like to allow users to sort the table with, add the <code>uif-order-by</code>
            attribute and specify the name of the property used to sort,
            eg. <code>&lt;uif-table-header uif-order-by="fileName"&gt;File name&lt;/uif-table-header&gt;</code> will sort the
            table using the data from the <code>fileName</code> property.</li>
        <li>In the <code>ng-repeat</code> directive used to rendered table rows add the <code>table.orderBy</code> and
            <code>!table.orderAsc</code>
            (<em>please not the exclamation mark (!) prepending the table.orderAsc</em> property) properties, eg.
            <code>&lt;uif-table-row ng-repeat="f in files | orderBy:table.orderBy:!table.orderAsc"&gt;</code></li>
    </ol>
  </p>
  <p>
    This markup: <br />
    <pre>
&lt;uif-table&gt;
    &lt;uif-table-row&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-header uif-order-by="fileName"&gt;File name&lt;/uif-table-header&gt;
        &lt;uif-table-header&gt;Location&lt;/uif-table-header&gt;
        &lt;uif-table-header uif-order-by="modified"&gt;Modified&lt;/uif-table-header&gt;
        &lt;uif-table-header uif-order-by="type"&gt;Type&lt;/uif-table-header&gt;
        &lt;uif-table-header uif-order-by="size"&gt;Size&lt;/uif-table-header&gt;
    &lt;/uif-table-row&gt;
    &lt;uif-table-row ng-repeat="f in files | orderBy:table.orderBy:!table.orderAsc" uif-selected="{{f.isSelected}<!---->}"&gt;
        &lt;uif-table-row-select&gt;&lt;/uif-table-row-select&gt;
        &lt;uif-table-cell&gt;{{f.fileName}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.location}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.modified | date}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.type}}&lt;/uif-table-cell&gt;
        &lt;uif-table-cell&gt;{{f.size}}&lt;/uif-table-cell&gt;
    &lt;/uif-table-row&gt;
&lt;/uif-table&gt;
    </pre>
  </p>
  <p ng-controller="demoController">
    Renders this (<em>please note that sorting hasn't been enabled for the <strong>Location</strong> column</em>):
    <br />
        <uif-table>
            <uif-table-row>
                <uif-table-row-select></uif-table-row-select>
                <uif-table-header uif-order-by="fileName">File name</uif-table-header>
                <uif-table-header>Location</uif-table-header>
                <uif-table-header uif-order-by="modified">Modified</uif-table-header>
                <uif-table-header uif-order-by="type">Type</uif-table-header>
                <uif-table-header uif-order-by="size">Size</uif-table-header>
            </uif-table-row>
            <uif-table-row ng-repeat="f in files | orderBy:table.orderBy:!table.orderAsc" uif-selected="{{f.isSelected}}">
                <uif-table-row-select></uif-table-row-select>
                <uif-table-cell>{{f.fileName}}</uif-table-cell>
                <uif-table-cell>{{f.location}}</uif-table-cell>
                <uif-table-cell>{{f.modified | date}}</uif-table-cell>
                <uif-table-cell>{{f.type}}</uif-table-cell>
                <uif-table-cell>{{f.size}}</uif-table-cell>
            </uif-table-row>
        </uif-table>
  </p>
</body>

</html>