<uif-list>
  <uif-list-item ng-repeat="message in messages" uif-unread="{{message.isUnread}}" uif-unseen="{{message.isUnseen}}" uif-item="message">
    <uif-list-item-primary-text>{{message.sender.name}}</uif-list-item-primary-text>
    <uif-list-item-secondary-text>{{message.title}}</uif-list-item-secondary-text>
    <uif-list-item-tertiary-text>{{message.description}}</uif-list-item-tertiary-text>
    <uif-list-item-meta-text>{{message.time | date : 'shortTime'}}</uif-list-item-meta-text>
    <uif-list-item-actions>
      <uif-list-item-action ng-click="mail(message)">
        <uif-icon uif-type="mail"></uif-icon>
      </uif-list-item-action>
      <uif-list-item-action ng-click="delete(message)">
        <uif-icon uif-type="trash"></uif-icon>
      </uif-list-item-action>
      <uif-list-item-action ng-click="pin(message)">
        <uif-icon uif-type="pinLeft"></uif-icon>
      </uif-list-item-action>
    </uif-list-item-actions>
  </uif-list-item>
</uif-list>