<!DOCTYPE html>
<html>

<head>
  <title>ngOfficeUiFabric | uif-Toggle demo</title>
  <meta charset="utf-8" />

  <!-- office ui fabric css -->
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.min.css" />
  <link rel="stylesheet" href="../../../../node_modules/office-ui-fabric/dist/css/fabric.components.min.css" />
  <!-- angular library -->
  <script src="../../../../node_modules/angular/angular.js"></script>
  
  <!-- jquery (pickadate depends on jquery) -->
  <script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
  
  <!-- pickadate library -->
  <script src="../../../../node_modules/pickadate/lib/compressed/picker.js"></script>
  <script src="../../../../node_modules/pickadate/lib/compressed/picker.date.js"></script>
  
  <!-- ngofficeuifabric library -->
  <script src="../../../../dist/ngOfficeUIFabric.js"></script>
  
  
  <script src="index.js"></script>
</head>

<body ng-app="demoApp">

  <h1 class="ms-font-su">Toggle Demo | &lt;uif-toggle&gt;</h1> 
  <em>In order for this demo to work you must first build the library in debug mode.</em>

  <p>
    This markup: <br />
    <code>
      
    </code>
  </p>

  <p>
    Renders this:
    <br />
    <uif-datepicker ng-model="value"/>
    <br/>
    <p>Value: {{value}}</p>
  </p>
  <p>
      
  </p>


</body>

</html>